---
import { initI18n, getLangFromUrl } from '@/i18n/i18n.ts'

const lang = getLangFromUrl(Astro.url)
const t = await initI18n(lang)

const nav = [
  {
    label: 'nav.simulation',
    route: '/simulation'
  },
  {
    label: 'nav.comprendre',
    route: '/comprendre'
  },
  {
    label: 'nav.visualisation',
    route: '/visualisation'
  },
  {
    label: 'nav.about',
    route: '/about'
  }
] as const
---
<script>
const discBtn = document.querySelector('.ice-header-nav-trigger')
 
const toggleExpanded = () => {
  discBtn?.setAttribute('aria-expanded', (!(discBtn.getAttribute('aria-expanded') === 'true')).toString() )
}
 
discBtn?.addEventListener('click', toggleExpanded)
</script>

<nav
  role="navigation"
  class="ice-header-nav"
  aria-label={t('nav.label_main')}
>
  <button type="button" class="ice-header-nav-trigger" aria-expanded="false">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
    <span class="sr-only">{t('nav.label_main')}</span>
  </button>
  <ul>
    {
      nav.map((item) => (
        <li>
          <a
            href={`/${lang}${item.route}`}
            aria-current={
              item.route === '/'
                ? Astro.url.pathname === `/${lang}${item.route}`
                  ? 'page'
                  : undefined
                : Astro.url.pathname.includes(item.route)
                  ? 'page'
                  : undefined
            }
          >
            {t(item.label)}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
