---
import { getLangFromUrl, useTranslations } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const nav = [
  {
    label: 'nav.home',
    route: '/'
  },
  {
    label: 'nav.simulation',
    route: '/simulation'
  },
  {
    label: 'nav.about',
    route: '/about'
  }
] as const
---

<nav
  role="navigation"
  aria-label={t('nav.main.label')}
>
  <ul>
    {
      nav.map((item) => (
        <li>
          <a
            href={`/${lang}${item.route}`}
            aria-current={
              item.route === '/'
                ? Astro.url.pathname === `/${lang}${item.route}`
                  ? 'page'
                  : undefined
                : Astro.url.pathname.includes(item.route)
                  ? 'page'
                  : undefined
            }
          >
            {t(item.label)}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
