---
import Skiplinks from '@components/Skiplinks.astro'
import Header from '@components/Header.astro'
import Breadcrumb from '@components/Breadcrumb.astro'
import Footer from '@components/Footer.astro'

import type { ComponentProps } from 'astro/types'

import '@styles/main.css'

interface Props {
  lang: string
  pageTitle: string
  metaDescription?: string
  bodyClass?: string
  breadcrumb?: ComponentProps<typeof Breadcrumb>['breadcrumb']
}

const { lang, pageTitle, metaDescription, bodyClass, breadcrumb } = Astro.props

const siteTitle = 'Obligally'
const siteMetaDesc = `Obligations légales concernant l\'accessibilité numérique en France`
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <meta
      name="description"
      content={`${siteMetaDesc}${metaDescription}`}
    />
    <title>{pageTitle} | {siteTitle}</title>
  </head>

  <body class={`body wrapper-main ${bodyClass}`}>
    <Skiplinks />
    <Header siteTitle="Obligally" />
    <main
      id="main"
      role="main"
      class="ice-main-content-wrapper"
    >
      <div class="ice-container ice-page-content">
        {breadcrumb && <Breadcrumb breadcrumb={breadcrumb} />}
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
