---
import Skiplinks from '@components/Skiplinks.astro'
import Header from '@components/Header.astro'
import Breadcrumb from '@components/Breadcrumb.astro'
import Footer from '@components/Footer.astro'

import type { ComponentProps } from 'astro/types'

import { initI18n } from '@/assets/i18n/i18n.ts'

import '@styles/main.css'

interface Props {
  lang: string
  pageTitle: string
  metaDescription?: string
  headerClass?: string
  bodyClass?: string
  breadcrumb?: ComponentProps<typeof Breadcrumb>['breadcrumb']
}

const { lang, pageTitle, metaDescription, headerClass, bodyClass, breadcrumb } = Astro.props

const t = await initI18n(lang)

const siteTitle = t('head.site_title')
const siteMetaDesc = t('head.meta_description')
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/favicon/apple-touch-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/favicon/apple-touch-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/favicon/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/favicon/apple-touch-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/favicon/apple-touch-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/favicon/apple-touch-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/favicon/apple-touch-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/favicon/apple-touch-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/favicon/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link
      rel="manifest"
      href="/favicon/site.webmanifest"
    />
    <link
      rel="shortcut icon"
      href="/favicon/favicon.ico"
    />
    <meta
      name="msapplication-TileColor"
      content="#ffffff"
    />
    <meta
      name="msapplication-TileImage"
      content="/favicon/mstile-144x144.png"
    />
    <meta
      name="msapplication-config"
      content="/favicon/browserconfig.xml"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <meta
      name="description"
      content={`${siteMetaDesc}${metaDescription ? ` ${metaDescription}` : ''}`}
    />
    <meta
      property="og:site_name"
      content={t('open_graph.site_name')}
    />
    <meta
      property="og:image"
      content="/opengraph/og-image-obligally.png"
    />
    <meta
      property="og:type"
      content={t('open_graph.type')}
    />
    <meta
      property="og:url"
      content={t('open_graph.url')}
    />
    <meta
      property="og:title"
      content={t('open_graph.title')}
    />
    <meta
      property="og:description"
      content={t('open_graph.description')}
    />
    <meta
      name="theme-color"
      content="#9801ff"
    />
    <title>{pageTitle ? `${pageTitle} - ` : ''}{siteTitle}</title>
  </head>

  <body class={`body wrapper-main ${bodyClass}`}>
    <Skiplinks />
    <Header
      siteTitle="Obligally"
      class={`${headerClass}`}
    >
      <slot name="header" />
    </Header>
    <main
      id="main"
      role="main"
      class="ice-main-content-wrapper"
      tabindex="-1"
    >
      <div class="ice-container ice-page-content">
        {breadcrumb && <Breadcrumb breadcrumb={breadcrumb} />}
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
